<section class="box">
<div class="center jumbotron">
  <h1> Welcome </h1>
  <div class="ava">
    <%= image_tag("goat.jpg") %>
  </div>
  <p> Nguyen Van A </p>
  <p class="amount"> 150 000 000 vnd </p>
  <p> Von: 100 000 000 vnd </p>
  <p> + 50 000 000 vnd </p>

  <p> <%= link_to "Nap them", '#', class: 'btn btn-lg btn-danger' %> <%= link_to "Dau tu", '#', class: 'btn btn-lg btn-danger' %> </p>

  <%= link_to "30 ngay gan day", '#', class: 'btn btn-lg btn-primary' %>

</div>

</section>


<section class="box">
<h2> Chart </h2>
<div class="graph">
<%= image_tag("run2.png") %>
</div>
<p> Suc dau tu: 100 000 000 vnd </p>
<p> So dau tu: 50 000 000 vnd, 10% tai san </p>

<h3> Investment news </h3>
<p> Chuyen nhuong $1 </p>
<p> CEO loai khoi board </p>
</section>

