@import "bootstrap-sprockets";
@import "bootstrap";


$gray-medium-light: #eaeaea;


body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

.container {
    display: flex;
    .box {
	flex-flow: row wrap;
	width: 50%;
	margin: 1%;
	
    }
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
	margin-bottom: 10px;
    }
}

img {
    width: 100%;
}

.ava {
    width: 50%;
    position: relative;
    left: 25%;
    img {
	border-radius: 50%;
    }

}

.amount {
    background-color: pink;
}

.graph {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transfom: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
    color: $gray-light;
    text-decoration: none;
    }
}


footer {
    margin-top: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    text-align: center;
}



@media (max-width: 600px) {
    .box {
	width: 100%;
    }
}
