    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "COI", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Home", '#' %> </li>
            <li> <%= link_to "Danh muc ma" '#' %> </li>
            <li> <%= link_to "Giao dich", '#' %> </li>
            <li> <%= link_to "Lich su", '#' %> </li>
            <li> <%= link_to "GD tot nhat", '#' %> </li>
            <li> <%= link_to "Rut tien", '#' %> </li>
            <li> <%= link_to "Khuyen mai", '#' %> </li>
          </ul>
	</nav>
      </div>
      </header>
